@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #eff2f4;
    margin: 0;
}

.fa {
    margin-right: 10px;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

.hr {
    width: 300px;
    height: 4px;
    background-color: black;
}

.wrapper {
    width: 1200px;
}

.preheader {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #434343;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
}

.pm_a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.pm_a:hover {
    text-decoration: underline;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
}

.h_img, .f_img {
    height: 70px;
}

.welcome {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: center;
    background-size: 120%;
    animation: images 60s infinite;
    padding-bottom: 60px;
}

@keyframes images {
    0% {
        background-image: url('/img/img_1.jpg');
    }
    10% {
        background-image: url('/img/img_1.jpg');
    }
    20% {
        background-image: url('/img/img_2.jpg');
    }
    30% {
        background-image: url('/img/img_2.jpg');
    }
    40% {
        background-image: url('/img/img_3.jpg');
    }
    50% {
        background-image: url('/img/img_3.jpg');
    }
    60% {
        background-image: url('/img/img_4.jpg');
    }
    70% {
        background-image: url('/img/img_4.jpg');
    }
    80% {
        background-image: url('/img/img_5.jpg');
    }
    90% {
        background-image: url('/img/img_5.jpg');
    }
    100% {
        background-image: url('/img/img_1.jpg');
    }
}

.w_h1 {
    color: #fff;
    font-size: 65px;
    margin-bottom: 10px;
}

.w_p {
    color: #fff;
    font-size: 30px;
}

.counter {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.content {
    display: flex;
    justify-content: center;
}

.c_items {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.c_item {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.ci_img {
    width: 100%;
    height: 150px;
    transition: 0.3s;
    background-size: 120%;
    background-position: center;
    padding: 20px;
    color: #fff;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #21548F;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.f_p {
    color: #fff;
}

/* --------- */

.html_login {
    height: 100%;
}

.body_login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_login {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.form_login img {
    margin-bottom: 20px;
}

.form_login input {
    border: none;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    outline: none;
    transition: 0.3s;
}

.form_login input:focus {
    border: none;
    border-width: 2px;
    border-style: solid;
    border-color: #54A3FF;
}

.form_login p {
    font-size: 13px;
    text-align: justify;
    margin-bottom: 10px;
}

.form_login button {
    border: none;
    border-width: 2px;
    border-style: solid;
    border-color: #54A3FF;
    border-radius: 5px;
    color: #54A3FF;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.form_login button:hover {
    background-color: #54A3FF;
    color: #fff;
}

.form_login a {
    text-align: center;
    text-decoration: none;
    color: #54A3FF;
    margin-top: 20px;
    font-size: 15px;
}

.form_login a:hover {
    text-decoration: underline;
}